body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
    background-color: black;
    margin: 0px;
}

header {
    height: 69px;
    border-bottom: 1px solid seashell;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: black;
}

header a {
    color: seashell;
}

#logo {
    float: left;
    padding-left: 10px;
    padding-top: 9px;
}

header ul {
    float: right;
    padding-right: 40px;
}

header ul li {
    text-align: right;
    text-decoration: underline;
    display: inline;
    justify-content: flex-end;
}

#mission {
    min-width: 1200px;
}

#missiontext {
    background-color: black;
    position: relative;
    top: -370px;
    width: 100%;
}

#text h2 {
    padding-top: 12px;
}

#text h4 {
    padding-bottom: 12px;
}

#missionbg {
    width: 1200px;
    height: 700px;
    position: relative;
    box-sizing: border-box;
    top: 70px;
}

#row1 {
    margin: 0px auto;
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#row2 {
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    justify-content: space-evenly;
}

#teamonthtext h4,
h2 {
    text-align: center;
    margin: 0px auto;
}

.teamonth {
    margin: 0 1%;
    float: left;
}

.teamonth img {
    height: 200px;
    width: 300px;
    margin-bottom: 10px;
}

#move {
    position: relative;
    top: 120px;
    text-align: center;
    margin: 0px auto;
}

#locationtext {
    margin: 0px auto;
    width: 1000px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    position: relative;
    top: -500px;
}

.locations {
    background-color: black;
    margin: 0 20px;
    max-height: 300px;
    min-height: 300px;
    width: 300px;
    line-height: 50px;
}